/* STYLES FOR MOBILE */

@media (max-width: 800px){
	#burger{
		display: block;
	}

	#burger:hover, #mob-nav-close:hover{
		cursor: pointer;
	}

	#header-links{
		display: none;
	}
}


@media (max-width: 1100px){
	.purchase-section{
		grid-column: 10 / 13;
	}
}

@media (max-width: 700px){
	section * {
		margin: 0;
		padding: 0;
		position: unset;
		grid-column: unset;
	}

	footer, section, .grid{
		grid-template-columns: repeat(4, 1fr);
		gap: 16px;
	}

	#mob-nav-menu.activated{
		display: flex !important;
	}

	#mob-nav-menu{
        align-items: end;
        flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		width: calc(100% - 40px);
		height: calc(100vh - 20px);
		z-index: 1000;
		padding: 20px 20px;
		background: white;
	}

	#x-close-btn{
		position: absolute;
		display: block;
		width: 1.5rem;
	}

	.mob-nav-links{
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.mob-nav-links a{
		width: fit-content;
	}

	.mob-nav-links *{
		font-size: 1.25rem;
	}

	.mob-dropdown .links{
		display: flex;
	    flex-direction: column;
	    gap: .25rem;
	    border-left: 1px solid #16161695;
	    margin-left: 8px;
	    padding-left: 8px;
	}

	.mob-dropdown p{
		color: #16161695;
	}

	#mob-nav-close img{
		width: 20px;
	}

	.image-showcase{
		grid-column: span 4 !important;
		align-items: center;
	}

	#logo{
		height: 2rem;
	}

	.swiper{
		margin-top: 4rem; /* Margin for header */
		width: 100%;
		height: 60vh;
		overflow: hidden;
	}

	.swiper-slide *{
		width: 100%;
	    height: 100%;
	    object-fit: cover;
	}

	.swiper-wrapper {
	  align-items: center;
	}

	.swiper-slide {
		max-height: 60vh;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: height 300ms ease-in;
		overflow: hidden;
	}


	#product-text{
		padding: 0.5rem 20px;
	}

	#swiper-pagination{
		text-align: center;
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-bottom: .5rem;
	}

	.swiper-pagination-bullet{
		background: black !important;
		height: 1px;
		width: 1rem;
		transition: width 100ms linear;
		margin: 0 !important;
		border-radius: 0;
	}

	.swiper-pagination-bullet-active{
		width: 1.5rem;
	}

	.product-info{
		grid-column: span 4;
	}

	.product-info .price, .product-info .product-title{
		font-size: 1.5rem;
	}

	.product-info .price{
		display: block;
		margin-bottom: 2px;
	}

	.product-info .price::after{
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: black;
	}

	.product-info bold{
		line-height: 125%
	}
	
	.section-title{
		display: block;
		margin-top: .75rem;
	}

	.product-info > div{
		margin-bottom: .3rem;
	}

	.product-info > div:last-child{
		margin: 0;
	}

	.purchase-section{
		grid-column: span 4;
	}

	.purchase-section .price{
		display: none;
	}

	.size-info *{
		font-size: .9rem;
	}

	footer #legal{
		display: none;
	}

	footer *{
		font-size: .8rem;
		margin: 0.4rem 0;
		color: rgba(0, 0, 0, .8);
	}

	.footer-border{
		margin-top: 1rem;
	}

	/* NEWSLETTER */

	.newsletter{
    	grid-column: span 4;
	}
}