body{
  background: #777;
}

.swiper-container {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background: white;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  height: 80%;
  width: 80%;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 300ms ease-in;
}

.swiper-slide:not(.swiper-slide-active) {
  height: 60%;
}

.swiper-slide:not(.swiper-slide-active) *{
  width: 80%;
}

.swiper-slide-next *{
  transform: translateX(-10%) !important;
}

.swiper-slide-prev *{
  transform: translateX(10%) !important;
}

.swiper-slide *{
  width: 100%;
  transition: all 300ms ease-in;
}

/* Custom Dots */
.swiper-pagination {
  position: unset;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: black;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
}
