/* DESKTOP STYLES */

@media (min-width: 700px){

	/* REMOVE CONFLICT SWIPER.JS STYLES */
	#product-visual{
		display: grid !important;
		max-width: 1440px;
		margin: 0 auto;
		z-index: 1;
	}

	#product-visual::after{
		content: none;
	}
	
	.swiper-slide{
		width: fit-content;
		height: fit-content;
	}


	.image-showcase img, .image-showcase video{
		height: auto !important;
		width: auto !important;
	}

	/* GENERAL */

	.fixed-product-object{
	    position: sticky;
	    height: fit-content;
	}


	/* HEADER */

	#burger, #x-close-btn{
		display: none;
	}

	footer, section, .grid{
	    grid-template-columns: repeat(12, 1fr);
	    gap: 20px;
	}

	#header-links{
	    display: flex;
	    gap: 20px;
	}

	/* DROPDOWN */

	.dropdown{
	    position: relative;
	    display: inline-block;
	    z-index: 100;
	}

	.dropdown-items{
	    display: none;
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    border: 1px solid;
	}

	.dropdown-items a{
	    text-align: center;
	    background: rgba(255, 255, 255, 1);
	    padding: 0.5rem 1rem;
	    display: block;
	}   

	.dropdown:hover .dropdown-items{
	    display: block;
	}

	/* PRODUCT INFO  */

	.product-info{
	    grid-column: span 3;
	}

	.product-info div{
	    margin-bottom: .25rem;
	}

	.product-info div:last-child{
	    margin-bottom: 0;
	}

	.product-info .price{
		display: none;
	}

	.product-info .section-title{
		display: none;
	}

	/* IMAGE SHOWCASE */

	.image-showcase{
	    grid-column: 4 / span 6;
	    flex-direction: column;
	    display: flex;
	    align-items: center;
	}

	.image-showcase img, .image-showcase video{
	    max-width: 100%;
	    max-height: 80vh;
	    padding-bottom: 2rem;
	}

	.image-showcase > *:first-child{
	    margin-top: calc(50vh - var(--first-image-offset) + 2rem); /* 2rem = image padding on bottom */
	}

	.image-showcase > *:last-child{
	    margin-bottom: max(1rem, calc(50vh - var(--last-image-offset) - 4rem)); /* 4rem = 2 rem bottom padding; 2 rem footer */
	}

	/* PURCHASE SECTION */

	#product-text{
	    max-width: unset;
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    top: 0;
	    align-content: center;
	    z-index: 1;
	    margin: 0;
	}

	#product-text section{
		align-items: center;
		max-width: 1440px;
		margin: 0 auto;
	}

	.purchase-section{
	    grid-column: 11 / 13;
	}

	.purchase-section .price{
		margin-bottom: 4px;
	}

	
	/* overlay-menu */

	.overlay-menu{
    	grid-column: 4 / 10;
	}
}